* {
    box-sizing: border-box;
}

body {
    font-family:  'Poppins', sans-serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1468476775582-6bede20f356f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center center ;
    min-height: 100vh; 
    
}

h1{
     font-weight: 800;
    font-size: 5rem;
    margin-top: 10rem ;
    text-align: center;
}

.countdown-cointainer{
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 50px;
 flex-wrap: wrap;
 align-items: center;
}

.big-text{
    font-weight: 400;
    font-size: 7rem;
    line-height: 1;
    margin: 1rem 2rem;

}

.countdown-el {
    text-align: center;
}

.countdown-el span{
font-size: 1.5rem;
font-weight: 500;
}



.footer{
    width: 100%;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 10px;
  }  

  .footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
  }

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    }

    .fa-heart-o{
        color: #f44336;
      }

@media (max-width:700px) {
    h1{
        font-size: 44px ;
        ;
    }
}